
.add-form,
.addNewElement .middle-wrap .cancel-btn,
.addNewElement .middle-wrap .add-new-btn-submit,
.addNewElement .edit-form,
.updatingData .middle-wrap .add-new-btn-submit,
.updatingData .middle-wrap .cancel-btn,
.cancel-btn,
.cancel-btn-edit,
.updatingData .updateClass .edit-simple-header,
.updatingData .wp-category-form-wrap-static,
.updatingData .add-form{
    display: none;
}
.wp-category-form-wrap-static{
    cursor: pointer;
}
.updatingData .middle-wrap .cancel-btn-edit,
.addNewElement .middle-wrap .cancel-btn,
.addNewElement .add-form{
    display: block;
}
.error {
    display: inline-block;
}