#wpaf-admin-app {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.topbar-left,
.nav{
	display: flex;
	margin: 0px 0px;
	align-items: center;
}
.nav li{
	padding: 4px 12px;
	margin-bottom: 0px;
	border-radius: 3px;
	font-size: 14px;
}
.topbar-left div span,
.topbar-left div a{
	margin-right: 10px;
}

.edit-form,
.add-form{
	padding: 0px 20px 30px;
}
.wp-category-form-wrap-static,
.edit-form .edit-simple-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wp-category-item-field  label{
	font-weight: 600;
	margin-bottom: 5px;
}
.wp-category-item-field input{
	 width:100%;
}
.edit-simple-header .edit-simple-item{
	margin-bottom: 15px;
	font-weight: 700;
	color:#000;
}
.wp-category-form-wrap-static{
	padding: 8px 0px;
}
.wp-category-form-wrap-static div,
.edit-simple-item{
	width:20%;
}
.wp-category-form-wrap-static:nth-child(odd){
	background-color: #f8f8f8;
}
.wp-category-form-wrap-static div{
	font-weight: normal;
}
.wp-category-form-wrap-static div button {

    background-color: red;
	margin-bottom:0px;
    margin-right: 10px;
}
.wp-category-item-field code {
    background: #f0f0f1;
    padding: 0px 10px 0px 10px;
    margin-left: 15px;
    margin-top: 0px !important;
    top: -2px;
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.wp-category-form-wrap-static code{
	background:#f0f0f1;
	padding:15px 15px 15px 0px;
}
.wp-category-item-field code input,
.wp-category-item-field code input:focus,
.wp-category-form-wrap-static code input:focus,
.wp-category-form-wrap-static code input{
	background: transparent;
	border:none;
	outline:none;
	box-shadow: none;
}
/**/
.wp-category-item-field {
    display: grid;
    grid-template-columns: 220px 1fr;
    padding-bottom: 20px;
}
.wp-category-item-field select,
.wp-category-item-field input{
	width: 220px;
}
.wp-category-form-wrap-dynamic hr,
.add-form hr{
	margin-bottom: 25px;
}
.middle-wrap{
	display: flex;
	padding: 30px 20px 20px;
	align-items: baseline;
}
.middle-wrap button{
	line-height: normal;
}
.middle-wrap h4{
	margin: 2px 15px 0px 0px;
}
.topbar-right{
	margin-left:10px;
}
strong.footer-pull-right {
	margin-left: 20px;
	padding-bottom: 50px;
	float: left;
}

.wp-category-item-field select,
.wp-category-item-field input {
	width: 220px;
	height: 38px;
}
.template-main-wrapper{
	float:left;
	width: 100%;
	position: relative;
	padding:30px;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.template-main-wrapper .preset-wrap{
	display: flex;
		box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	column-gap: 18px;
	flex-wrap:wrap;
}
.btn-submit{
display: inline-block;
}
.btn-submit,
.cancel-btn,
.cancel-btn-edit,
.btn-submit {

    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: #fff;
    border: 0;
    text-decoration: none;
    background: #0073aa;
    padding: 0.4375rem 0.75rem;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    border-radius: 3px;
    transition: background-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.cancel-btn,
.cancel-btn-edit{
	background:red;
}
.template-main-wrapper .preset{

	flex: 0 0 auto;
    width: 300px;
	padding:20px;
	margin-bottom:18px;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow:0px 0px 13px -6px #00000040;
}
.template-main-wrapper .preset label input{
	margin-right:10px;
}
.template-main-wrapper .preset img{
	width:100%;
		box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.preset label{
	font-size:18px;
	font-weight: bold;
	text-transform: capitalize;
	display:block;
	margin-bottom:20px;
}
.preset-inner{
	display:inline-block
}
.preset-item.image{
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.preset-item .item-n-ele{
    padding: 7px 0px;
}
.btn-submit {
    display: block;
    margin-bottom: 20px;
}
.wp-category-form-wrap-static .dialog-box[open]{
	width:100%;
}
.updatingData .dialog-box[open] .dialog-box-inner,
.wp-category-form-wrap-static .dialog-box[open] .dialog-box-inner{
	width: 250px;
	height: 90px;
}
.preset-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.wp-category-item-field label span{
	display:none;
}

.wp-category-item {
    display: flex;
    flex-direction: column;
}
.wp-category-item-title .wp-category-item,
.wp-category-form-wrap-dynamic .wp-category-item{
	flex-direction: row;
}
.wp-category-item textarea {
    max-width: 300px;
    margin-top: 14px;
    min-height: 100px;
}
.has-error .wp-category-item input,
.has-error .wp-category-item textarea,
.has-error .wp-category-item select{
  border: 1px solid red;
  background-color: #ffe6e6;
}
.has-error .error {
  color: red;
}
.wp-category-item-inner{
	display:flex;
}