
.add-form,
.addNewElement .middle-wrap .cancel-btn,
.addNewElement .middle-wrap .add-new-btn-submit,
.addNewElement .edit-form,
.updatingData .middle-wrap .add-new-btn-submit,
.updatingData .middle-wrap .cancel-btn,
.cancel-btn,
.cancel-btn-edit,
.updatingData .updateClass .edit-simple-header,
.updatingData .wp-category-form-wrap-static,
.updatingData .add-form{
    display: none;
}
.wp-category-form-wrap-static{
    cursor: pointer;
}
.updatingData .middle-wrap .cancel-btn-edit,
.addNewElement .middle-wrap .cancel-btn,
.addNewElement .add-form{
    display: block;
}
.error {
    display: inline-block;
}
code.short-code {
    margin-left: 20px;
    padding: 10px;
}
.dialog-box-alert,
.dialog-box{
    display:none;
}
div[open].dialog-box-alert,
div[open].dialog-box {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
}
div[open].dialog-box-alert .dialog-box-inner,
div[open].dialog-box .dialog-box-inner {
    width: 400px;
    height: 150px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    padding: 30px;
    bottom: 0;
    margin: auto;
    z-index: 9999999999999;
    background: #fff;
    opacity: 1;
}
div[open].dialog-box-alert .dialog-box-inner{
    height:100px;
    width:300px;
}
.dialog-yes,
.dialog-no{
    padding:5px 15px;
}
.dialog-no{
    margin-right:5px;
}
.logo-branding a{
    margin-right:15px;
    text-decoration: none;
}
.topbar-main {
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    background-color: #fff;
    border-bottom: 1px solid #aaa;
    align-items: center;
}
.logo-branding {
    margin-right: 15px;
}
ul.navn {
    display: flex;
    margin: 0;
    padding: 0;
    line-height: normal;
}
.navn li {
    padding: 10px 15px;
    margin-bottom: 0;
}
.navn li a{
    text-decoration: none;
}
.add-new-filter-form{
    display:none;
}